  <!-- Footer -->
  <footer class="container-fluid footer">
    <small>Built with <a href="https://picocss.com" class="secondary">Pico</a> •  &copy; Kevin Rogo</small>
  </footer><!-- ./ Footer -->

<script src="/js/themeSwitcher.js"></script>


</body>
</html>