<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Project SOP</title>
  <meta name="description" content="An application for the creation and storage of SOPs">
  <link rel="shortcut icon" href="https://picocss.com/favicon.ico">
  <link rel="canonical" href="https://picocss.com/examples/sign-in/">

  <!-- Pico.css -->
  <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">

  <!-- Custom styles for this example -->
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    
  <nav class="container-fluid">
    <ul>
      <li><a href="/" class="contrast" onclick="event.preventDefault()"><strong>Project SOP</strong></a></li>
    </ul>
    <ul>
      <li>
        <details role="list" dir="rtl">
          <summary aria-haspopup="listbox" role="link" class="secondary">Theme</summary>
          <ul role="listbox">
            <li><a href="#" data-theme-switcher="auto">Auto</a></li>
            <li><a href="#" data-theme-switcher="light">Light</a></li>
            <li><a href="#" data-theme-switcher="dark">Dark</a></li>
          </ul>
        </details>
      </li>
      <li>
        <details role="list" dir="rtl">
          <summary aria-haspopup="listbox" role="link" class="secondary">Navigation</summary>
          <ul role="listbox">
            <li><a href="/profile">Home</a></li>
            <li><a href="/logout">Logout</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contactUs">Contact Us</a></li>
          </ul>
        </details>
      </li>
    </ul>
  </nav>