<%- include('partials/header') -%>

<section class="homeContainer">
    <h1 class="alignCenter">Project SOP</h1>
    <h3 class="alignCenter">An application for collaboration and creation of SOPs to Aid Business Flow</h3>
    <section>
        <p class="alignCenter">This application was created to help solve the need for a centralized location to not only store SOP documents, but to create them as well.</p>
        <p class="alignCenter">Users will be able to login and collaboratively create documentation for common issues and procedures.</p>
    </section>
    <section>
        <a href="/login"><button class="homeBtn">Login</button></a>
        <a href="/signUp"><button class="homeBtn">Sign Up</button></a>
    </section>
</section>

<%- include('partials/footer') -%>