<%- include('partials/header') -%>

<main class="container">
    <div class="row justify-content-around mt-5">

        <div class="col-2">
                <img src="/imgs/default.png" height="400px" width="400px" alt="">
        </div>
        <div class="col-2">Test</div>
    </div>
</main>

<%- include('partials/footer') -%>