<%- include('partials/loggedHeader') -%>

<div class="container">
    <div class="row mt-5">
        <div class="col-6">
            <div>
                <p><strong>User Name</strong>: <%= user.userName %></p>
                <p><strong>Email</strong>: <%= user.email %></p>
            </div>
            <div class="mt-5">
              <h2>Create User Profile</h2>
              <form action="/userInfo/createProfile" enctype="multipart/form-data" method="POST">
                <div class="mb-3">
                    <label for="company" class="form-label">Company</label>
                    <input type="text" class="form-control" id="company" name="company">
                </div>
                <div class="mb-3">
                  <label for="role" class="form-label">Role</label>
                  <input class="form-control" id="role" name="role">
                </div>
                <div class="mb-3">
                  <label for="imgUpload" class="form-label">Profile Picture</label>
                  <input type="file" class="form-control" id="imageUpload" name="file">
                </div>
                <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
              </form>
            </div>
        </div>
            <a class="btn btn-primary" href="/profile">Return to Profile</a>
          </div>  
        </div>  
      </div>
    </div>
  </div>


<%- include('partials/footer') -%>